body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  background: #0099ff;
  color: white;
  padding: 60px;
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.product-box {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  flex: 1;
  text-align: center;
}

section {
  padding: 30px;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}
.logo {
  width: 180px;
  display: block;
  margin: 0 auto 10px;
}

.products {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  background: white;
  padding: 15px;
  width: 220px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  cursor: pointer;
}

.product img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.product:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.map {
  margin-top: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

